<%- include('ek/header', {bot, user, path}) %>
 
 <center>
	<img style=" margin-top: 80px; border-radius: 150px;" src="<%= bot.user.avatarURL() %>">
    <h3 style="color: #0561ff; margin-top: 30px; font-family: 'Quicksand', black; font-size: 30px;">
	<b> <%= bot.user.username %></b>
 	</h3>
</center>


<div class="container">
	<div class="row">
		<div class="col-md-12">
			<center>
			<p style="text-align: center; margin-top: 50px; font-family: 'Quicksand', black; color: #fff; ">Selamlar Ben Narcos Codenini sahibi mustafa bu altyapı Narcos Code tarafından yapılmıştır Narcos Code sunucusunun en büyük projelerinden birisidir altyapıyı kullanmak serbesttir satmak veya paylaşmak yasaktır paylaşıldı taktirde gerekli işlemler yapılacaktır</p>
			</center>
		</div>
	</div>
</div>

<%- include('ek/footer') %>
</div>
</body>