<br><br>
<br><br>

 <div style="background-color:#101320;text-decoration:none;">
 
<div class="container" >
  <div class="row">
    <div class="col-md-4">
      <br> <br><br> <br><br>
      <img style="border-radius: 150px;" src="<%= bot.user.avatarURL() %>"> <br> <br>
      <p class="neonss" style="margin-left: -30px; font-family: 'Quicksand', black; color: #0561ff; font-size: 30px;">Narcos Code Genel Bot V5</p> 
    </div>
    <div class="col-md-4">
<br> <br>
        <p style="font-family: 'Quicksand', black; color: #fff; font-size: 25px;"><i style="color: #0561ff;" class="fas fa-link"></i>  Bağlantılar</p>

        <a href="/panel"><p style="font-family: 'Quicksand', black; color: #fff; font-size: 20px;"><i style="color: #0561ff;" class="fas fa-angle-double-right"></i> Panel</p> </a>

        <a href="/bilgi"><p style="font-family: 'Quicksand', black; color: #fff; font-size: 20px;"><i style="color: #0561ff;" class="fas fa-angle-double-right"></i> Bilgi</p> </a>

        <a href="/#"><p style="font-family: 'Quicksand', black; color: #fff; font-size: 20px;"><i style="color: #0561ff;" class="fas fa-angle-double-right"></i> Anasayfa</p> </a>

        <a href="/panel"><p style="font-family: 'Quicksand', black; color: #fff; font-size: 20px;"><i style="color: #0561ff;" class="fas fa-angle-double-right"></i> Discord</p> </a>

        <a href="/panel"><p style="font-family: 'Quicksand', black; color: #fff; font-size: 20px;"><i style="color: #0561ff;" class="fas fa-angle-double-right"></i> Davet Et</p> </a>

    </div>

    <div class="col-md-4">
    <br> <br>
      <p style="font-family: 'Quicksand', black; color: #fff; font-size: 25px;"><i style="color: #0561ff;" class="fas fa-phone"></i>  İletişim</p>


      <a href="https://discord.gg/kbwQU6gJCF"><p style="font-family: 'Quicksand', black; color: #fff; font-size: 20px;"><i style="color: #0561ff;" class="fab fa-discord"></i> Discord</p> </a>

      <a href="https://www.youtube.com/c/MustafaMertt/"><p style="font-family: 'Quicksand', black; color: #fff; font-size: 20px;"><i style="color: #0561ff;" class="fab fa-youtube"></i> Youtube</p> </a>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
     <p style="text-align:right;  font-family: 'Quicksand', black; color: #fff; font-size: 20px;">Narcos Code Genel V5</p>
    </div>
  </div>
</div>


<br>

 <style>

.divss {
float: left;
}

.neonss {
    text-shadow:
    0 0 5px #0561ff,
    0 0 10px #0561ff;
}

 </style>